/* === GOBAL === */

:root {
    --dunkelblau: #00505eb5;
    --blau: #00d9ffb4;
    --dunkel-grau: #333333;
    --dunkel-grau-2: #222222;
    --hell-grau-1: #666666;
    --hell-grau-2: #BEBEBE;
    --rot: #A62C21;
    --weiß: #CCCCCC;
    --schwarz: #000;
    --primaere-schriftart: Raleway;
    --sekundaere-schriftart: Helvetica Neue;
    --tertiaere-schriftart: Arial;
    --fallback-schriftart: sans-serif;
    --border-style: 2px solid;
    --border-transition: border .5s ease-in-out;
}

html {
    font-size: 16px;
}

body {
    background-color: #222222;
    margin: 0;
    font-family: var(--primaere-schriftart, --sekundaere-schriftart, --tertiaere-schriftart, --fallback-schriftart);
    background-color: var(--dunkel-grau-2);
}

* {
    box-sizing: border-box;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/* === LIVE-SERVER === */

#loom-companion-mv3 {
    display: none;
}

#shadow-host-companion {
    display: none;
}

/* === GENERELLES === */

.main-content-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: var(--blau) !important;
}

.wichtiger-text {
    font-weight: bold;
}

.screenreader {
    display: none;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.intro-container>h1 {
    font-size: 1.6rem;
}

.intro-container>p {
    font-size: 1.2rem;
}

.intro-container>h1 {
    font-size: 1.6rem;
}

.intro-container>p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {
    .intro-container {
        width: 90%;
    }

    .intro-container>p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {
    .intro-container {
        width: 100%;
    }

    .intro-container>p {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .intro-container {
        margin-bottom: 1rem;
    }
}

/* === BUTTONS === */

/* === .btn-typ-1 {
    text-decoration: none;
    text-align: center;
    border: var(--border-style) var(--blau);
    color: var(--weiß);
    transition: color .5s ease-in-out, var(--border-transition);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 var(--blau);
}

.btn-typ-1:hover {
    color: var(--blau);
    border: var(--border-style) var(--blau);
    font-weight: normal;
    box-shadow: 0 0 15px 6px var(--blau);
} === */

.btn-typ-2 {
    text-decoration: none;
    background-color: transparent;
    border: var(--border-style) var(--weiß);
    color: var(--weiß);
    padding: .4rem .6rem;
    transition: color .5s ease-in-out, var(--border-transition);
    border-radius: 6px;
}

.btn-typ-2:hover {
    color: var(--blau);
    border: var(--border-style) var(--blau);
    font-weight: normal;
}

.btn-typ-3 {
    background-color: transparent;
    border: var(--border-style) var(--dunkel-grau);
    color: var(--dunkel-grau);
    font-size: 1rem;
    transition: var(--border-transition), box-shadow .5s ease-in-out;
}

.btn-typ-3:hover {
    border: var(--border-style) var(--blau);
    box-shadow: 0 0 10px 0 var(--dunkel-grau);
    font-weight: normal;
}

/* Social Media Bar */

.social {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    z-index: 250px;
}

.social a {
    text-decoration: none;
    z-index: 250px;
}

.social a>img {
    height: 50px;
    width: auto;
}

/* NAVIGATIONSLEISTE */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: var(--dunkel-grau);
    box-shadow: 0 0 20px 10px var(--schwarz);
    position: fixed;
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 150;
}

#header-nav a>img {
    height: 50px;
    width: auto;
}

#header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
}

#header-nav ul>li {
    display: inline-block;
    height: 100%;
    padding: 0 .3rem 0 .3rem;
}

#header-nav ul>li>a {
    margin-top: .85rem;
    display: inline-block;
}

#header-nav ul>li>a:link {
    color: var(--weiß);
    text-decoration: none;
}

#header-nav ul>li>a:visited {
    color: var(--weiß);
    text-decoration: none;
}

#header-nav ul>li>a:active {
    color: var(--weiß);
    text-decoration: underline;
}

#header-nav ul>li>a:hover {
    color: var(--weiß);
    text-decoration: underline;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.logo-link {
    display: inline-block;
}


/* === NAVIGATIONSLEISTE (MOBILE) === */

#mobile-nav-button {
    color: var(--weiß);
    float: right;
    font-size: 3rem;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: .9rem;
    z-index: 100;
}

#mobile-nav-button>span {
    position: absolute;
    bottom: -4.6px;
    left: 1.2px;
    text-align: center;
}

#mobile-nav-content>ul>li {
    display: block;
    background-color: var(--dunkel-grau);
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

#mobile-nav-dropdown {
    position: relative;
    float: right;
}

#mobile-nav-content {
    position: absolute;
    right: -13px;
    top: 50px;
    display: none;
    z-index: 100;
}

#mobile-nav-dropdown:hover>#mobile-nav-content {
    display: block;
}

#mobile-nav {
    display: none;
}

@media (max-width: 768px) {

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }
}

/* === STARTSEITE === */

.logo {
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}

/*

.video-main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(.5);
    filter: blur(.100);
}



.leistung-ansehen-btn {
    height: 40px;
    display: inline-block;
    padding-top: .5rem;
    min-width: 100px;
    flex-basis: 11rem;
    margin-top: 1vh;
    background-color: transparent;
}

#buttonContainer {
    width: 100%;
    height: 83%;
    position: fixed;
    display: flex;
    justify-content: center;
    column-gap: 18rem;
    flex-direction: inherit;
    z-index: 100;
}

#buttonContainer a {
    background-color: var(--dunkelblau);
    margin-top: 53vh;
} 
    */

@media (max-width: 3440px) {
    .logo {
        display: none;
        top: -70px;
        bottom: 100%; 
    }
}

@media (max-width: 3200px) {
    .logo {
        top: -35px;
        bottom: 100%; 
    }
}

@media (max-width: 2560px) {
    .logo {
        top: 160px;
        bottom: 100%; 
    }
}

@media (max-width: 2048px) {
}

@media (max-width: 1920px) {
    #buttonContainer {
        top: 90px;
    }
}

@media (max-width: 1600px) {
    #buttonContainer {
        top: -90px;
    }
}

@media (max-width: 1440px) {
    #buttonContainer {
        top: -90px;
    }
}

@media (max-width: 1366px) {
    #buttonContainer {
        top: 0;
    }
}

@media (max-width: 1280px) {
    #buttonContainer {
        top: -90px;
    }
}

@media (max-width: 1024px) {
    .video-main {
        top: -20px;
        bottom: 100%; 
    }
    #buttonContainer {
        top: -100px;
    }
}

@media (max-width: 960px) {
    .video-main {
        top: -40px;
        bottom: 100%; 
    }
    #buttonContainer {
        top: -120px;
    }
}

@media (max-width: 854px) {
    .video-main {
        top: -80px;
        bottom: 100%; 
    }
    #buttonContainer {
        top: -160px;
    }
}

@media (max-width: 800px) {
    .video-main {
        top: -90px;
        bottom: 100%; 
    }
    #buttonContainer {
        top: -180px;
    }
}

@media (max-width: 768px) {
    .logo {
        display: flex;
        margin-top: -20px;
    }
    .video-main {
        top: -100px;
        bottom: 100%; 
    }
    #buttonContainer {
        top: -180px;
    }
}

@media (max-width: 640px) {
    .logo {
        margin-top: -10px;
    }
    .video-main {
        top: -140px;
        bottom: 100%; 
    }
    #buttonContainer {
        display: none;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-top: 10px;
    }
    .video-main {
        top: -180px;
        bottom: 100%; 
    }
}

@media (max-width: 425px) {
    .logo {
        margin-top: 40px;
    }
    .video-main {
        top: -195px;
        bottom: 100%; 
    }
}

@media (max-width: 375px) {
    .logo {
        margin-top: 60px;
    }
    .video-main {
        top: -205px;
        bottom: 100%; 
    }
}

@media (max-width: 320px) {
    .logo {
        margin-top: 90px;
    }
    .video-main {
        top: -220px;
        bottom: 100%; 
    }
}

@media (max-width: 160px) {
    .logo {
        margin-top: 160px;
        margin-left: 40px;
    }
    .video-main {
        top: -265px;
        bottom: 100%; 
    }
}

/* === HEADER-BANNER === */

#header-banner-start {
    width: 100%;
    height: auto;
    margin-top: -80px;
    padding-top: 36.00%;
    padding-bottom: 1000px;
    position: fixed;
    background: url("../img/bg01.png");
}

#header-banner {
    width: auto;
    height: 100%;
    padding: 6.5%;
    margin-top: 40px;
    background: url("../img/bg02.png");
}

/* === LEISTUNGEN-BEREICH === */

#leistungen-bereich {
    padding-top: 1rem;
    box-shadow: 0 0 20px 10px var(--schwarz);
    background-color: var(--dunkel-grau);
    color: var(--weiß);
}

.leistungs-teaser-box {
    background-color: var(--dunkel-grau-2);
    box-shadow: 0 0 20px 10px var(--schwarz);
    text-align: center;
    color: var(--weiß);
    padding: 1rem 3rem 2.5rem;
    width: 60%;
    min-width: 30px;
    margin-bottom: 1.6rem;
    border-radius: 6px;
}

#leistungen-bereich .row>.col-3:nth-of-type(even)>.leistungs-teaser-box {
    margin-left: 1rem;
    margin-right: auto;
}

#leistungen-bereich .row>.col-3:nth-of-type(odd)>.leistungs-teaser-box {
    margin-right: 1rem;
    margin-left: auto;
}

.leistungs-teaser-box>h2 {
    font-size: 1.4rem;
}

.leistung-ansehen-btn {
    height: 40px;
    display: inline-block;
    padding-top: .5rem;
    width: 40%;
    min-width: 100px;
    margin-top: 1rem;
}

.leistung-ansehen-btn:link {
    color: var(--weiß);
}

.leistung-ansehen-btn:visited {
    color: var(--weiß);
}

.leistung-ansehen-btn:active {
    color: var(--weiß);
}

.leistung-ansehen-btn:hover {
    color: var(--blau);
    border: var(--border-style) var(--blau);
}

@media (max-width: 1366px) {
    .leistungs-teaser-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .leistungs-teaser-box {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    #leistungen-bereich .row>.col-3:nth-of-type(even)>.leistungs-teaser-box {
        margin-left: auto;
    }

    #leistungen-bereich .row>.col-3:nth-of-type(odd)>.leistungs-teaser-box {
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .leistungs-teaser-box {
        padding: 1rem 1rem 2rem;
    }
}

/* === VIDEO-BEREICH === */

#video-bereich {
    background-color: #222222;
    color: var(--weiß);
}

#video-bereich video {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 20px 0 var(--blau);
    border-radius: 6px;
}

#videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#videos-container iframe {
    margin-top: 3rem;
}

@media (max-width: 1440px) {

    #video-bereich video {
        width: 45%;
    }
}

@media (max-width: 1024px) {

    #video-bereich video {
        width: 60%;
    }
}

@media (max-width: 768px) {

    #video-bereich video {
        width: 75%;
    }
}

@media (max-width: 480px) {

    #video-bereich video {
        width: 100%;
    }
}

/* === SERVICE-BEREICH === */

#service-bereich {
    background-color: var(--dunkel-grau-2);
    color: var(--weiß);
}

.service-box {
    text-align: center;
    width: 80%;
}

.service-box h1 {
    font-size: 1.4rem;
}

#service-bereich .row:nth-of-type(2)>.col-2:first-of-type>.service-box {
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2)>.col-2:nth-of-type(2)>.service-box {
    margin-left: auto;
    margin-right: auto;
}

.service-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 var(--blau);
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.service-icon:hover {
    transform: rotateZ(360deg);
}

#guenstig-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") 0 0;
}

#schnell-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") -120px 0;
}

#modern-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") -240px 0;
}

.hinweis {
    text-align: center;
}

@media (max-width: 768px) {
    #service-bereich>.container>.row:nth-of-type(2)>.col-2>.service-box {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .service-box {
        width: 100%;
    }
}

/* === FOOTER === */

#footer {
    background-color: var(--dunkel-grau);
    box-shadow: 0 0 20px 10px var(--schwarz);
    height: 2.8rem;
    color: var(--weiß);
}

#footer-nav {
    float: right;
    
}

#footer-nav a {
    margin-left: 10px;
    text-decoration: none;
}

#footer-nav a:link {
    color: var(--weiß);
}

#footer-nav a:visited {
    color: var(--weiß);
}

#footer-nav a:active {
    color: var(--weiß);
}

#footer-nav a:hover {
    color: var(--blau);
    text-decoration: underline;
}

@media (max-width: 160px) {
    #footer span {
        display: none;
    }
}

/* === FOOTER-STARTSEITE === */

#footer-start {
    width: 100%;
    height: 100px;
    background-color: #171717;
    position: relative;
    bottom: 0;
    z-index: 100;
    background-color: var(--dunkel-grau);
    box-shadow: 0 0 20px 10px var(--schwarz);
    height: 2.8rem;
    color: var(--weiß);
}

.copyright {
    color: var(--weiß);
}

#footer-start-nav {
    float: right;
}

#footer-start-nav a {
    margin-left: 10px;
    text-decoration: none;
}

#footer-start-nav a:link {
    color: var(--weiß);
}

#footer-start-nav a:visited {
    color: var(--weiß);
}

#footer-start-nav a:active {
    color: var(--weiß);
}

#footer-start-nav a:hover {
    color: var(--blau);
    text-decoration: underline;
}

@media (max-width: 160px) {
    #footer-start span {
        display: none;
    }
}

/* === FOOTER-SPONSOREN === */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-650px *7));
    }
}
 
.slider {
    height: 100px;
    margin: auto;
    padding-top: 15px;
    overflow: hidden;
    position: relative;
    width: auto;
    z-index: 100;
}

.slide-track {
    padding-left: 1920px;
}

.slide {
    margin-right: 100px;
    margin-left: 50px;
}
 
.slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* === SEITEN === */

/* === Preis === */

.preis {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: var(--dunkel-grau);
    color: var(--weiß);
}

#preis1 {
    box-shadow: 0 0 20px 10px var(--schwarz);
}

.preis:nth-of-type(even) {
    background-color: #222222;
}

#preis2 {

    .preis-box,
    .preis-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

#p-leistung4 {

    .preis-box,
    .preis-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

#p-leistung6 {

    .preis-box,
    .preis-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

.flex-container>.intro-container {
    width: 100%;
}

.preis-box {
    background-color: #222222;
    box-shadow: 0 0 20px 5px var(--schwarz);
    flex-basis: 25%;
    color: var(--hell-grau-2);
    padding: 2rem 4rem;
    text-align: center;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.preis-teaser-box {
    margin-left: 125px;
}

.preis-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 650px;
    box-shadow: 0 0 20px 15px var(--blau);
    font-size: 1.1rem;
    border-radius: 6px;
}

.preis-box h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
    color: var(--weiß);
}

.preis-box ul {
    padding: 0;
    color: #00d9ffb4;
}

.preis-box>ul>li {
    list-style-position: inside;
    margin-bottom: .5rem;
}

.p-leistung-auswählen-btn {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    margin-top: .25rem;
    min-width: 100px;
    box-shadow: 0 0 10px 0 var(--blau);
    border-color: var(--blau);
}

@media (max-width: 1815px) {
    .preis-box {
        flex-basis: 27.5%;
    }

    .preis-box-empfohlen {
        flex-basis: 30%;
    }
}

@media (max-width: 1652px) {
    .preis-box {
        flex-basis: 30%;
    }

    .preis-box-empfohlen {
        flex-basis: 32.5%;
    }
}

@media (max-width: 1516px) {
    .preis-box {
        padding: 2rem 4rem;
    }

    .flex-container {
        align-items: stretch;
    }

    .preis-box-empfohlen {
        min-height: initial;
    }
}

@media (max-width: 1366px) {
    .flex-container {
        width: 90%;
    }
    .preis-teaser-box {
        margin-left: 50px;
    }
}

@media (max-width: 1332px) {
    .flex-container {
        width: 80%;
        flex-direction: column;
        padding: 0;
    }

    .preis-box {
        margin-bottom: 2rem;
        min-height: initial;
    }
}

@media (max-width: 1024px) {
    .flex-container {
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .preis-teaser-box {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .flex-container {
        width: 100%;
    }

    .preis-box {
        padding: 1rem 2rem;
    }
}

@media (max-width: 320px) {

    .preis-box {
        padding: .5rem 1rem 2rem 1rem;
    }
}

/* === LEISTUNGEN-SEITE === */

.leistung {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: var(--dunkel-grau);
    color: var(--weiß);
}

#leistung1 {
    box-shadow: 0 0 20px 10px var(--schwarz);
}

.leistung:nth-of-type(even) {
    background-color: #222222;
}

#leistung2 {

    .leistungs-box,
    .leistungs-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

#leistung4 {

    .leistungs-box,
    .leistungs-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

#leistung6 {

    .leistungs-box,
    .leistungs-box-empfohlen:nth-of-type(even) {
        background-color: #333333;
    }
}

.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

.flex-container>.intro-container {
    width: 100%;
}

.leistungs-box {
    background-color: #222222;
    box-shadow: 0 0 20px 5px var(--schwarz);
    flex-basis: 25%;
    color: var(--hell-grau-2);
    padding: 2rem 4rem;
    text-align: center;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.leistungs-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 650px;
    box-shadow: 0 0 20px 15px var(--blau);
    font-size: 1.1rem;
    border-radius: 6px;
}

.leistungs-box h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
    color: var(--weiß);
}

.leistungs-box ul {
    padding: 0;
    color: #00d9ffb4;
}

.leistungs-box ul li {
    list-style-position: inside;
    margin-bottom: .5rem;
    text-align: left;
}

.leistung-auswählen-btn {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    margin-top: .25rem;
    min-width: 100px;
    box-shadow: 0 0 10px 0 var(--blau);
    border-color: var(--blau);
}

@media (max-width: 1815px) {
    .leistungs-box {
        flex-basis: 27.5%;
    }

    .leistungs-box-empfohlen {
        flex-basis: 30%;
    }
}

@media (max-width: 1652px) {
    .leistungs-box {
        flex-basis: 30%;
    }

    .leistungs-box-empfohlen {
        flex-basis: 32.5%;
    }
}

@media (max-width: 1516px) {
    .leistungs-box {
        padding: 2rem 4rem;
    }

    .flex-container {
        align-items: stretch;
    }

    .leistungs-box-empfohlen {
        min-height: initial;
    }
}

@media (max-width: 1366px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 1332px) {
    .flex-container {
        width: 80%;
        flex-direction: column;
        padding: 0;
    }

    .leistungs-box {
        margin-bottom: 2rem;
        min-height: initial;
    }
}

@media (max-width: 1024px) {
    .flex-container {
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .flex-container {
        width: 100%;
    }

    .leistungs-box {
        padding: 1rem 2rem;
    }
}

@media (max-width: 320px) {

    .leistungs-box {
        padding: .5rem 1rem 2rem 1rem;
    }
}

/* === ÜBER-UNS-SEITE === */

.home {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 10px var(--schwarz);
}

.home-img {
    height: 500px;
    width: auto;
}

.home-content p {
    color: var(--weiß);
}

.home-content a {
    color: var(--weiß);
}

.home-content h3 {
    color: var(--weiß);
    margin: 0;
    padding: 0;
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    color: var(--blau);
    margin: 0;
    padding: 0;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home2 {
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home2-content p {
    color: var(--weiß);
}

.home2-content a {
    color: var(--weiß);
}

.home2-content h3 {
    color: var(--weiß);
    margin: 0;
    padding: 0;
    font-size: 3.2rem;
    font-weight: 700;
}

.home2-content h1 {
    color: var(--blau);
    margin: 0;
    padding: 0;
    font-size: 5.6rem;
    font-weight: 700;
}

#zitat1 {
    display: flex;
    flex-direction: row;
}

#zitat2 {
    display: flex;
    flex-direction: row;
}

#zitat1 a:hover {
    color: var(--blau);
}

#zitat2 a:hover {
    color: var(--blau);
}

@media (max-width: 700px) {

    .home-content h3 {
        font-size: 1rem;
        font-weight: 100;
    }
    .home2-content h3 {
        font-size: 1rem;
        font-weight: 100;
    }
}

@media (max-width: 480px) {

    .home-content h3 {
        font-size: 1rem;
        font-weight: 100;
    }
    .home2-content h3 {
        font-size: 1rem;
        font-weight: 100;
    }
    .home-content h1 {
        color: var(--blau);
        font-size: 1rem;
        font-weight: 100;
    }
    .home2-content h1 {
        color: var(--blau);
        font-size: 1rem;
        font-weight: 100;
    }
    .home {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .home2 {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

/* === KONTAKT-SEITE === */

#kontakt-bereich {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px 10px var(--schwarz);
    color: var(--weiß);
    background-color: var(--dunkel-grau);
}

.kontaktdaten {
    padding: 4.3rem;
    background-color: var(--dunkel-grau-2);
    box-shadow: 0 0 20px 10px var(--blau);
    text-align: center;
    color: var(--weiß);
    border-radius: 10px;
}

.kontaktdaten ul {
    padding: 1rem;
    margin: 0;
}

.kontaktdaten span {
    color: var(--blau);
}

.kontaktdaten a {
    color: var(--weiß);
}

.kontaktdaten a:hover {
    color: var(--blau);
}

.kontaktdaten a>img {
    height: 100px;
    width: auto;
}

@media (max-width: 480px) {

    .kontaktdaten {
        width: auto;
        padding: 2rem;
        margin: 1rem;
    }
} 


/* === IMPRESSUM === */

.impressum {
    padding: 0rem;
    border-bottom: 1px solid var(--hell-grau-2);
    box-shadow: 0 0 20px 10px var(--schwarz);
}

.impressum-box {
    background-color: var(--dunkel-grau);
    color: var(--weiß);
    padding: 2rem 4rem;
    text-align: left;
    flex-direction: column;
}

.impressum-box a {
    color: var(--weiß);
    font-size: 1.5rem;
    font-weight: 100;
}

.impressum-box a:hover {
    color: var(--blau);
}

.datenschutz {
    padding: 0rem;
}

.datenschutz-box {
    background-color: var(--dunkel-grau);
    color: var(--weiß);
    padding: 2rem 4rem;
    flex-direction: column;
}

.datenschutz-box p {
    text-align: left;
}

.datenschutz-box a {
    color: #00d9ffb4;
    text-decoration: underline;
}

/* === AGB === */

.agb {
    padding: 0rem;
    border-bottom: 1px solid var(--hell-grau-2);
    box-shadow: 0 0 20px 10px var(--schwarz);
}

.agb-box {
    background-color: var(--dunkel-grau);
    color: var(--weiß);
    padding: 2rem 4rem;
}

/* === Portfolio === */

#portfolio {
   color: var(--weiß);
}

/* === GRID SYSTEM === */

.container {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.666%;
}

.col-6 {
    width: 100%;
}

@media (max-width: 1024px) {
    .col-1 {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }
}